.top-menu {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }

  .container {
    display: grid;
    place-items: center;
  }
  
  .container router-outlet {
    width: 1024px;
  }